<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
        
        <form action="/todo/add" method="post">
            <input type="text" class="form-control" name="todo" placeholder="Добавить задачу ..." /><br><br>
        </form>

        <% todos.forEach(function(todo) { %>
            <div class="well"><%= todo %></div>
        <% }) %>
    </div>
</body>
</html>

