<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <link rel="stylesheet" href="http://bootswatch.com/readable/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="container">
        <h1 class="text-center"><%= title %></h1>
        
        <form action="/todo/add" method="post">
            <input type="text" class="form-control" name="todo" placeholder="Добавить задачу ..." /><br><br>
        </form>

        <form action="/todo/delete" method="post">
            
            <% todos.forEach(function(todo) { %>
                <div class="well">
                    <input type="checkbox"id="qwe" class="delete" name="todos" value="<%= todo %>" />
                    <%= todo %>
                </div>
            <% }) %>
            <input type="submit" value="Удалить" class="btn btn-danger pull-right" />
        </form>
    </div>
</body>
</html>

