/* === Fonts === */

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
    background: url('../images/mooning.png');
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    font-weight: bold;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 2.3em;
    margin-bottom: 20px;
}

input[type='text'] {
    padding: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}

input[type='submit'] {
    margin-top: 15px;
    padding: 20px 35px;
}

#qwe {
    transform: scale(2);
    opacity: 0.9;
    cursor: pointer;
    margin-right: 15px;
}